{% extends 'admin/base_site.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% block content %}
<form action="" method="post">
  {% csrf_token %}
  <p>{% translate 'Please click the link below to send an email to the selected email addresses.' %}</p>
  <p>{% translate 'This will open a new window in your email program.' %}</p>
  <p>{% translate 'Please make sure you have selected the correct sender email.' %}</p>
  <br>
  <h2>{% translate 'Selected email addresses: '%}</h2>
  {% for recipient in selected_recipients %}
    <p>
      {{recipient}}
    </p>
  {% endfor %}
  <br>
  <input type="submit" name="apply" value="{% translate 'Send email' %}" onclick="window.open('{{ mail_to_link }}', '_blank')">
</form>
{% endblock %}
