/* header and body styles */
body {
  font-family: 'Fjalla One', serif;
  margin-bottom: 150px;
}

.page-header {
  padding-top: 30px;
}

#cat-logo {
    display: block;
    max-width: 100%;
    height: auto;
}

.footer-height{
  margin-top: 20px;
  padding: 5px;
}

.small-font {
  font-size: 1em;
}

/* list styles */
.head-title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.list-element {
    padding: 10px;
    margin-left: -11px;
    margin-bottom: 30px;
}

.navbar-light .navbar-nav .nav-link {
  color: #244291;
}
