/* header and body styles */
body {
  font-family: Arial, 'Fjalla One', serif;
}

#wrapper {
  min-height:100vh;
}

#top-navbar {
    background-color: #b6c3de;
}

#top-navbar .navbar-nav > li > a {
    padding: 10px;
    font-size: 130%;
    margin-left: 15px;
}

#cat-logo {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: 10px;
}

.small-font {
  font-size: 1.1em;
}

/* list styles */
.head-title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.list-element {
    padding: 10px;
    margin-left: -11px;
    margin-bottom: 30px;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

#reg-btn {
  margin-bottom: 10px;
}

#msg {
  margin-top: 10px;
}
