{% extends 'registration/base.html' %}
{% load i18n %}

{% block content %}
    <h3 class="head-title">{% translate 'Sorry, we cannot find what you are looking for!' %}</h3>
    <p>{% translate 'We are sorry, but the page you are looking for does no longer exist.' %}</p>
{% endblock %}