{% load static %}
{% load bootstrap4 %}
{% load i18n %}

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Security-Policy" content="default-src 'none'; img-src 'self'; script-src 'self'; style-src https: 'self'"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Educat Kollektiv</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/registration.css' %}">
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</head>

<body>
  <div id="wrapper" class="d-flex flex-column">
    <div class="container border">
      <div class="row">
        <nav id="top-navbar" class="navbar navbar-expand-lg navbar-light">
          <a href="{% url 'event-list' %}">
            <img id="cat-logo" src="{% static '../static/registration/educat_small.png' %}" alt="cat logo">
          </a>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'event-list' %}">{% translate 'Events' %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.educat-kollektiv.org/" target="_blank">{% translate 'Educat Collective' %}</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <main class="flex-fill">
      <div class="container border">
        <div class="row">
          <div class="col-xs-12 col-md-12">
            {% include 'registration/messages.html' %}
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
    </main>

    <footer>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="navbar-brand small-font" href="{% url 'general-terms' %}">{% translate 'General Terms And Conditions Act' %}</a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand small-font" href="{% url 'data-protection-declaration' %}">{% translate 'Data Protection Declaration' %}</a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand small-font" href="{% url 'legal-notice' %}">{% translate 'Legal Notice & Disclaimer' %}</a>
          </li>
        </ul>
      </nav>
    </footer>
  </div>
</body>

</html>
