{% extends 'registration/base.html' %}
{% load i18n %}

{% block content %}
<h3 class="head-title">{% translate 'Data Protection Declaration' %}</h3>
  <p>
      Wir freuen uns über deinen Besuch auf unserer Website. Im Folgenden informieren wir dich,
      welche Daten erhoben und wie sie von uns verwendet werden. Hierzu werden technische
      und organisatorische Maßnahmen getroffen, um die Vorgaben der Datenschutzgesetzgebung umzusetzen,
      sowohl von uns, als auch von den von uns beauftragten externen Dienstleistern.
  </p>

<h4>§1 Name und Kontaktdaten des Verantwortlichen für die Verarbeitung der Daten</h4>
  <p>
      Verantwortliche Stelle gem. Art. 4 Ziff. 7 EU-Datenschutz-Grundverordnung (DS-GVO) ist:<br>
      Educat e.V.<br>
      Malmöer Str. 29<br>
      10439 Berlin<br>
  </p>

<h4>§ 2 Information über die Erhebung und Speicherung personenbezogener Daten sowie Art und Zweck der Verwendung</h4>
    <h5>(1) Zugriffsdaten</h5>
        <p>
          Beim Besuch unserer Website erheben wir nur die personenbezogenen Daten, die dein Browser an unseren Server übermittelt.
            Diese Informationen werden temporär gespeichert. Folgende Informationen werden dabei ohne dein Zutun erfasst
            und bis zur automatisierten Löschung gespeichert:
        </p>
        <ul>
            <li>IP-Adresse</li>
            <li>Datum und Uhrzeit der Anfrage</li>
            <li>Zeitzonendifferenz zur koordinierten Weltzeit (UTC)</li>
            <li>vom Webbrowser übermittelte Anforderung, bestehend aus Anforderungsmethode (z.B. GET),
                angeforderter Seite oder Ressource, Protokollversion (z.B. HTTP/1.1)</li>
            <li>Zugriffsstatus/HTTP-Statuscode (z.B. 404 für „Seite nicht gefunden“)</li>
            <li>jeweils übertragene Datenmenge</li>
            <li>Seite, von der aus die aktuell angezeigte Seite aufgerufen wurde bzw. die Ressource eingebunden
                wurde (sofern dein Webbrowser diese Information übermittelt)</li>
            <li>Browserkennung, bestehend aus Name, Hersteller, Version und Sprache deiner Browsersoftware,
                sowie Betriebssystem und dessen Version (sofern dein Webbrowser diese Informationen übermittelt)</li>
        </ul>

        <p>
            Die genannten Daten werden zu dem Zweck erhoben, dir unsere Website anzuzeigen sowie Stabilität
            und Sicherheit zu gewährleisten. Rechtsgrundlage ist Art. 6 Abs. 1 Buchst. f DS-GVO.
            Unser berechtigtes Interesse folgt aus dem erwähnten Zweck der Datenerhebung.
        </p>
        <p>
            Außerdem setzen wir Session-Cookies und CSRF-Cookies ein. Wir nutzen diese unter anderem,
            um eure Spracheinstellungen temporär zu speichern. Die Cookies werden nicht für gezielte Werbung
            oder ähnliches eingesetzt und auch nicht weitergegeben. Der Session-Cookie ist 30 Minuten lang gültig.
            Wir verknüpfen die Cookies nicht mit anderen Daten (z.B. Buchungsdaten) und teilen keine Informationen mit Drittanbieter*innen.

            Nähere Erläuterungen dazu erhältst du unter § 4 dieser Datenschutzerklärung.
            Über die Datenverarbeitung beim Einsatz von Social-Media-Anwendungen informieren wir in § 5 dieser Datenschutzerklärung.
        </p>

    <h5>(2) Anmeldeformular zur Anmeldung zu unseren Veranstaltungen</h5>
        <p>
            Auf unserer Webseite kannst du dich für Seminare und Veranstaltungen anmelden.
            Bei der <strong>Nutzung unseres Anmeldeformulars</strong> werden folgende Informationen gespeichert:
        </p>
        <ul>
            <li>E-Mail-Adresse</li>
            <li>Name </li>
            <li>Datum und Uhrzeit (Zeitpunkte der Anmeldung und Bestätigung) </li>
        </ul>

        <p>
            Um deine Anmeldung bearbeiten zu können, erheben und verarbeiten wir folgende deiner Daten:
        </p>
        <p>
            <strong>Pflichtfelder:</strong> Name und E-Mail-Adresse
        </p>
        <p>
            <strong>Optionale Felder:</strong> Volljährigkeit, Auslansdskrankenversicherung und individuelle Kommentare
        </p>
        <p>
            Nach deiner Anmeldung exportieren wir die Daten aus der Webseite zur weiteren Verarbeitung in unsere lokale Datenbank.
        </p>
        <p>
            Wir verwenden deine Daten zur Organisation des Seminars bzw. der Veranstaltung; unter anderem
        </p>
        <ul>
            <li>nutzen wir deine Kontaktdaten (Name und E-Mail-Adresse) um mit dir Kontakt aufzunehmen und deine Anmeldung zu bestätigen</li>
            <li>zum Versand von veranstaltungsrelevanten Informationen ( z.B. genauer Ort der Veranstaltung)  oder Materialien
                (z.B. Programm, Ergebnisse des Seminars) </li>
        </ul>
        <p>
            Die genannten Daten werden zu dem Zweck erhoben, die Anfrage dir zuzuordnen und diese zu beantworten.
            Rechtsgrundlage ist Art. 6 Abs. 1 Buchst. a) DS-GVO.
        </p>
        <p>
            Rechtsgrundlage für die Verarbeitung der Anmeldedaten ist die Erfüllung eines Vertrages Art. 6 Abs. 1 lit. b) DS-GVO.
            Unsere Angebote werden unter anderem durch öffentliche Mittel gefördert. Der Nachweis der Verwendung dieser zweckgebundenen
            Gelder erfordert u.a. zwingend die Übermittlung personenbezogener Daten der Teilnehmenden an die Zuschussgeber, dies erfolgt
            in einer analogen Teilnehmendenliste. Mit der Anmeldung erklären sich die Teilnehmenden zur Angabe dieser Daten
            und deren Weiterleitung einverstanden.
        </p>
        <p>
            Wir speichern deine personenbezogenen Daten daher nur so lange, wie dies zur Erreichung der hier genannten Zwecke erforderlich ist
            oder wie es die vom Gesetzgeber vorgesehenen vielfältigen Speicherfristen vorsehen. Für personenbezogene Daten sind, soweit keine
            anderen Aufbewahrungsfristen vorliegen, entsprechend der Abgabenordnung 6 Jahre beziehungsweise 10 Jahre (Vertragsunterlagen) festgelegt.
        </p>
        <p>
            Auf unseren Veranstaltungen bzw. Seminaren finden Bildaufnahmen statt, die im Rahmen unserer Öffentlichkeitsarbeit auf der Homepage
            und in den sozialen Medien veröffentlicht werden. Rechtsgrundlage für die Nutzung der Bildaufnahmen ist Art. 6 Abs. 1 Buchst. f)
            DS-GVO (Wahrung der berechtigten Interessen). Solltest du damit nicht einverstanden sein, teile dies uns jederzeit auch direkt
            auf der Veranstaltung mit.
        </p>
    <h5>(3) Verarbeitung besonderer Kategorien personenbezogener Daten</h5>
        <p>
            In einigen Fällen kann es nötig sein, zur Vorbereitung und Durchführung von Veranstaltungen besondere Kategorien personenbezogener Daten
            nach Art. 9. Abs 1 DSGVO zu erheben. Darunter fallen im Falle von Veranstaltungen mit Verpflegung oder für Wanderungen das Abfragen von
            Allergien und Höhenangst. Diese Daten werden nur bei Anmeldungen zu Veranstaltungen erhoben, für die diese Daten relevant sind. Die Verarbeitung
            dieser Daten erfolgt auf Grundlage von Art 9 Abs 2 a), d) DSGVO. Eine Übermittlung dieser Daten ist keine Grundvoraussetzung zur Teilnahme an
            Veranstaltungen vom Educat e.V. Mit der Eingabe der Daten stimmst du der Speicherung zu. Entsprechend § 9 fällt der Zweck der Speicherung
            dieser Daten nach Durchführung der Veranstaltung weg und eine Löschung erfolgt.
        </p>
    <h5>(4) Kontaktaufnahme mit uns per E-Mail</h5>
        <p>
            Wir weisen dich darauf hin, dass die <strong>Datenübertragung</strong> im Internet (z.B. bei der Zusendung von Nachrichten per E-Mail) Sicherheitslücken
            aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.
        </p>
    <h5>(5) Schutz von Minderjährigen</h5>
        <p>
            Personen unter 16 Jahren sollten ohne Zustimmung der Eltern oder Erziehungsberechtigten keine personenbezogenen Daten an uns übermitteln.
            Wir fordern keine personenbezogenen Daten von Kindern und Jugendlichen unter 16 Jahren an. Wissentlich sammeln wir solche Daten nicht und
            geben sie auch nicht an Dritte weiter.
        </p>
<h4>§ 3 Weitergabe von Daten</h4>
    <p>
        Die über unsere Webseite erhobenen Daten werden von der zuständigen Person verarbeitet und können für einzelne Funktionen unseres Angebots
        an beauftragte Dienstleister bzw. Kooperationspartner weitergeleitet werden. Eine Übermittlung personenbezogener Daten an Dritte zu anderen als
        den folgenden Zwecken findet nicht statt. Wir geben deine Daten nur an Dritte weiter, wenn:
    </p>
    <ul>
        <li>Du gemäß Art. 6 Abs. 1 Buchst. a) DS-GVO deine ausdrückliche Einwilligung dazu erteilt hast, </li>
        <li>die Weitergabe gemäß Art. 6 Abs. 1 Buchst. f) DS-GVO zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen erforderlich ist
            und kein Grund zur Annahme besteht, dass du ein überwiegendes schutzwürdiges Interesse an der Nichtweitergabe deiner Daten hast, </li>
        <li>falls für die Weitergabe gemäß Art. 6 Abs. 1 Buchst. c) DS-GVO eine gesetzliche Verpflichtung besteht</li>
    </ul>
<h4>§ 4 Verweise auf externe Internetseiten (Links)</h4>
    <p>
        Links zu externen Websites, die auf unserer Website angezeigt werden, können gegebenenfalls Nutzerdaten sammeln, wenn du auf diese klickst.
        Wir haben keine Kontrolle über die Daten, die über Anzeigen oder Websites Dritter freiwillig oder unfreiwillig erhoben werden. Wir empfehlen
        generell die Datenschutzrichtlinien ("Privacy Policies") von Websites einzusehen, wenn du Bedenken hinsichtlich der Erhebung und der Nutzung
        deiner Daten hast.
    </p>
<h4>§ 5 Datensicherheit</h4>
    <p>
        Die Educat e.V. trifft angemessene technische und organisatorische Maßnahmen, um deine personenbezogenen Daten so zu speichern, dass sie für Dritte
        nicht zugänglich sind. Wir und die von uns beauftragten Dienstleistungsunternehmen sind von uns zur Verschwiegenheit gegenüber Dritten und zur
        Einhaltung der Bestimmungen der Datenschutzgesetzgebung verpflichtet. Um die Sicherheit deiner Daten bei der Übertragung zu schützen, verwenden
        wir dem aktuellen Stand der Technik entsprechende Verschlüsselungsverfahren.
    </p>
<h4>§ 6 Betroffenenrechte</h4>
    <p>
        Du hast gegenüber uns folgende Rechte hinsichtlich der dich betreffenden personenbezogenen Daten:
    </p>
    <ul>
        <li>Recht auf Auskunft über deine von uns verarbeiteten personenbezogenen Daten (Art. 15 DS-GVO) </li>
        <li>Recht auf Berichtigung unrichtiger oder Vervollständigung deiner bei uns gespeicherten personenbezogenen Daten (Art. 16 DS-GVO)</li>
        <li>Recht auf Löschung deiner bei uns gespeicherten personenbezogenen Daten, soweit nicht die Verarbeitung zur Ausübung des Rechts auf
            freie Meinungsäußerung und Information, zur Erfüllung einer rechtlichen Verpflichtung, aus Gründen des öffentlichen Interesses oder
            zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen erforderlich ist (Art. 17 DS-GVO) </li>
        <li>Recht auf Einschränkung der Verarbeitung soweit die Richtigkeit der Daten von dir bestritten wird, die Verarbeitung unrechtmäßig ist,
            du aber deren Löschung ablehnst und wir die Daten nicht mehr benötigen, du jedoch diese zur Geltendmachung, Ausübung oder Verteidigung
            von Rechtsansprüchen benötigst oder du gemäß Art. 21 DS-GVO Widerspruch gegen die Verarbeitung eingelegt hast (Art. 18 DS-GVO) </li>
        <li>Recht auf Datenübertragbarkeit (Art. 20 DS-GVO) </li>
        <li>Recht auf Widerspruch gegen die Verarbeitung (Art. 21 DS-GVO)</li>
        <li>Eine Beschwerde bei der zuständigen Aufsichtsbehörde einzureichen (Art. 77 DS-GVO). Zuständige Aufsichtsbehörde ist die Berliner Datenschutzbeauftragte
            (mailbox@datenschutz-berlin.de). </li>
    </ul>
<h4>§ 7 Rechtsgrundlage der Verarbeitung</h4>
    <p>
        Wir verarbeiten personenbezogene Daten im Rahmen der datenschutzrechtlichen Vorgaben.
    </p>
    <h5>Vertragserfüllung</h5>
        <p>
            Ist die Verarbeitung personenbezogener Daten zur Erfüllung eines Vertrags, dessen Vertragspartei die betroffene Person ist, erforderlich,
            so beruht die Verarbeitung auf Art. 6 I lit. B) DS-GVO.
        </p>
    <h5>Wahrung berechtigter Interessen</h5>
        <p>
            Wir verarbeiten deine personenbezogenen Daten, wenn dies zur Wahrung unserer Interessen oder Interessen Dritter erforderlich ist und deine
            Interessen nicht überwiegen. Unsere Angebote werden durch öffentliche Mittel gefördert. Der Nachweis der Verwendung dieser zweckgebundenen
            Gelder erfordert u.a. zwingend die Übermittlung personenbezogener Daten der Teilnehmenden an die Zuschussgeber. Mit der Anmeldung erklärt du
            dich zur Angabe dieser Daten und deren Weiterleitung einverstanden.
        </p>
    <h5>Erfüllung einer rechtlichen Verpflichtung</h5>
        <p>
            Unterliegt unser Verein einer rechtlichen Verpflichtung durch welche eine Verarbeitung von personenbezogenen Daten erforderlich wird,
            so basiert die Verarbeitung auf Art. 6 I lit. c) DS-GVO.
        </p>
    <h5>Verarbeitung auf Grundlage von Einwilligungen</h5>
        <p>
            Art. 6 I lit. a) DS-GVO dient unserem Verein als Rechtsgrundlage für Verarbeitungsvorgänge, bei denen wir eine Einwilligung für einen
            bestimmten Verarbeitungszweck einholen.
        </p>
<h4>§ 8 Berechtigte Interessen an der Verarbeitung, die von dem Verantwortlichen oder einem Dritten verfolgt werden</h4>
    <p>
        Basiert die Verarbeitung personenbezogener Daten auf Artikel 6 I lit. f) DS-GVO ist unser berechtigtes Interesse die Durchführung unserer
        Geschäftstätigkeit. Eine weitere Übermittlung personenbezogener Daten an sonstige Dritte erfolgt nicht, es sei denn, dies ist aufgrund
        gesetzlicher Vorschriften gestattet oder der Nutzer hat in die Datenübermittlung eingewilligt.
    </p>
<h4>§ 9 Dauer, für die die personenbezogenen Daten gespeichert werden</h4>
    <p>
        Wir halten uns an die Grundsätze der Datenvermeidung und Datensparsamkeit. Wir speichern deine personenbezogenen Daten daher nur so lange,
        wie dies zur Erreichung der hier genannten Zwecke erforderlich ist oder wie es die vom Gesetzgeber vorgesehenen vielfältigen Speicherfristen
        vorsehen. Nach Fortfall des jeweiligen Zweckes bzw. Ablauf dieser Fristen werden die entsprechenden Daten routinemäßig und entsprechend den
        gesetzlichen Vorschriften gesperrt oder gelöscht.
    </p>
<h4>§ 10 Widerspruchsrecht</h4>
    <p>
        Soweit wir die Verarbeitung deiner personenbezogenen Daten auf die Wahrnehmung berechtigter Interessen stützen (Art. 6 Abs. 1 Buchst. f) DS-GVO),
        kannst du Widerspruch gegen die Verarbeitung einlegen. Wir prüfen die Sachlage und werden entweder die Datenverarbeitung einstellen bzw. anpassen
        oder dir unsere zwingenden schutzwürdigen Gründe aufzeigen, aufgrund derer wir die Verarbeitung fortführen.
    </p>
    <p>
        Über deinen Widerspruch kannst du uns unter folgenden Kontaktdaten informieren: info@educat-kollektiv.org oder unter: Educat e.V., Malmöer Str. 29,
        10439 Berlin.
    </p>
<h4>§ 11 Aktualität und Änderung dieser Datenschutzerklärung</h4>
    <p>Diese Datenschutzerklärung ist aktuell gültig und hat den Stand März 2021.</p>
    <p>Durch die Weiterentwicklung unserer Website und unserer darüber zur Verfügung gestellten Angebote oder aufgrund geänderter gesetzlicher beziehungsweise
        behördlicher Vorgaben kann es notwendig werden, diese Datenschutzerklärung zu ändern. Für deinen erneuten Besuch gilt dann die neue Datenschutzerklärung.</p>
{% endblock %}
