{% extends 'registration/base.html' %}
{% load i18n %}

{% block content %}
{% if events %}
  <h1 class="head-title">{% translate 'Events' %}</h1>
{% else %}
  <div class="alert alert-info mt-3">
    {% translate 'There are currently no events to show.' %}
  </div>
{% endif %}

{% for event in events %}
<div class="container">
  <div class="row">
    <div class="col-12 list-element">
        <ul class="list-inline">
          <li class="list-inline-item">
              <h2 class="h3 d-inline-block">
                <a class="text-dark" href="{% url 'waitlistentry-create' event.pk event.slug %}">{{ event.title }}</a>
              </h2>
              {% if event.status == event.OPEN %}
                    <span class="mx-2 badge bg-secondary">
                        {% blocktranslate count remaining_capacity=event.remaining_capacity %}
                            {{ remaining_capacity }} seat left
                        {% plural %}
                            {{ remaining_capacity }} seats left
                        {% endblocktranslate %}
                    </span>
                {% elif event.status == event.CLOSED %}
                    <span class="mx-2 badge bg-secondary">{% translate 'Registration closed' %}</span>
                {% elif event.status == event.WAITLIST %}
                    <span class="mx-2 badge bg-secondary">{% translate 'Waitlist' %}</span>
                {% endif %}
          </li>
        </ul>
        <div>
          <div>
            <strong>{% translate 'When' %}:</strong> {{ event.start_date_time }} &ndash; {{ event.end_date_time }}
          </div>
          {% if event.place %}
            <div>
              <strong>{% translate 'Where' %}:</strong> {{ event.place }}
            </div>
          {% endif %}
          <div>
            <strong>{% translate 'Signup deadline' %}:</strong> {{ event.signup_deadline }}
          </div>
        </div>
        <a href="{% url 'waitlistentry-create' event.pk %}" class="btn btn-outline-dark btn-sm mt-2" role="button">
          {% translate 'Registration' %}
        </a>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
