{% load i18n %}

{% for error in form.non_field_errors %}
    <p class="alert alert-danger" role="alert">{{ error }}</p>
{% empty %}
    {% if form.errors %}
        <p class="alert alert-danger" role="alert">{% translate 'Please correct the errors listed on the fields.' %}</p>
    {% endif %}
{% endfor %}