{% extends 'registration/base.html' %}
{% load i18n %}

{% block content %}
<h3 class="head-title">{% translate 'General Terms And Conditions Act' %}</h3>
    <p>
      Als gemeinnütziger Verein verwenden wir sämtliche Einnahmen ausschließlich für unsere Vereinszwecke.
    </p>
<h4>1. Geltungsbereich</h4>
    <p>
        (1) Diese Allgemeinen Geschäftsbedingungen (AGB) gelten für alle Veranstaltungen des Educat e.V. .
        Anderweitige Allgemeine Geschäftsbedingungen werden nur gültig, wenn beide Vertragspartner*innen dem ausdrücklich zustimmen.
    </p>
    <p>
        (2) Teilnahmeberechtigt an Veranstaltungen des Educat e.V. sind nur angemeldete Personen.
    </p>
    <p>
        (3) Mit der Anmeldung erkennt der*die Teilnehmer*in folgende Allgemeine Geschäftsbedingungen für Veranstaltungen des Educat e.V an.
    </p>
<h4>2. Anmeldung / Vertragsschluss </h4>
    <p>
        (1) Die Ankündigung von Veranstaltungen ist unverbindlich und stellt lediglich ein Angebot zum Abschluss eines Vertrages dar.
    </p>
    <p>
        (2) Die Anmeldung erfolgt schriftlich über die <a href="https://educat-veranstaltungen.org/" target="_blank">Anmeldungsmaske</a>
        vom Educat e.V.. In Ausnahmefällen kann die Anmeldung auch schriftlich via Email erfolgen.
    </p>
    <p>
        (3) Die Anmeldung gilt als verbindliches Vertragsangebot. Der Vertrag kommt mit Zugang der Anmeldebestätigung durch den Educat e.V. zustande.
        Der Rücktritt von Veranstaltunganmeldungen ist unter Ziffer 8 geregelt.
        Folgende Angaben werden für die Anmeldung benötigt: Name, Vorname, E-Mail-Adresse. Alle Vertragsangaben werden von uns unter Beachtung von
        datenschutzrechtlichen Bestimmungen zeitweise gespeichert. Die Datenschutzrechtlichen Bestimmung sind in der
        <a href="{% url 'data-protection-declaration' %}" target="_blank">Datenschutzerklärung</a> vom Educat e.V nachzulesen.
    </p>
<h4>3. Vertragspartner*in und Teilnehmer*in </h4>
    <p>
        (1) Mit Abschluss der Anmeldung werden vertragliche Rechte und Pflichten nur zwischen dem Educat e.V als Veranstalterin
        und der angemeldeten Person (Vertragspartner*in) begründet. Die anmeldende Person kann das Recht zur Teilnahme
        auch für eine dritte Person (Teilnehmer*in) begründen. Diese ist dem Educat e.V namentlich zu benennen.
        Eine Änderung in der Person des Teilnehmers bedarf der Zustimmung des Educat e.V.. Dieser darf die Zustimmung
        nicht ohne sachlichen Grund verweigern.
    </p>
    <p>
        (2) Für den*die Teilnehmer*in gelten sämtliche den Vertragspartner betreffenden Regelungen sinngemäß.
    </p>
    <p>
        (3) Der Educat e.V. darf die Teilnahme von persönlichen und/oder sachlichen Voraussetzungen abhängig machen.
    </p>
<h4>4.Teilnahmebeitrag/ Zahlung </h4>
    <p>
        (1) Der Teilnahmebeitrag für die Veranstaltung wird vom Educat e.V festgelegt. Es gilt der zum Zeitpunkt der Anmeldung
        aktuelle Teilnahmebeitrag. Wenn der Teilnahmebeitrag in Form einer Preisspanne festgelegt ist, erfolgt die Entscheidung
        über die zu zahlenden Summe innerhalb dieser Preisspanne durch die angemeldete Person.
    </p>
    <p>
        (2) Der Teilnahmebeitrag ist im Anschluss an die Anmeldung zu zahlen. Eine gesonderte Aufforderung ergeht nicht.
        Der Teilnahmebeitrag wird bei Nichtzustandekommen des Vertrages in voller Höhe zurückerstattet.
    </p>
    <p>
        (3) Die Zahlung der Teilnahmegebühr erfolgt per Überweisung auf das Konto des Educat e.V. unter Angabe des angegebenen Verwendungszwecks.
    </p>
    <p>
        (4) Werden die geschuldete Teilnahmegebühren in einer Frist von 14 Tagen nach Zahlungsaufforderung nicht entrichtet, behält sich der Educat e.V.
        das Recht einer Abmahnung mit der Erhebung einer zuzüglicher Mahngebühr vor.
    </p>
    <p>
        (5) Die Zahlung des Teilnahmebeitrages ist auch dann fällig, wenn die Veranstaltung von der angemeldeten Person nicht mehr besucht wurde.
        Eingezahlte Teilnahmegebühren werden nach Vertragsschluss grundsätzlich nur erstattet, wenn eine fristgerechte Abmeldung von der Veranstaltung erfolgte.
    </p>
    <p>
        (6) Nach Absprache kann der Educat e.V. Teilnahmebestätigungen für die Veranstaltung, Rechnungen für die Teilnahmegebühr oder eine Bestätigung
        des Zahlungseingangs ausstellen.
    </p>
<h4>5. Organisatorische Änderungen </h4>
    <p>
        (1) Der Educat e.V. kann aus sachlichem Grund Ort, Zeitpunkt und Umfang der Veranstaltungen ändern.
    </p>
    <p>
        (2) Muss eine Veranstaltung aus von dem Educat e.V. nicht zu vertretenden Gründen ausfallen (beispielsweise wegen Erkrankung der Referent*innen),
        kann sie nachgeholt werden. Ein Anspruch hierauf besteht jedoch nicht. Wird die Veranstaltung nicht nachgeholt, gilt Ziffer 8 (2) und (3) sinngemäß.
    </p>
<h4>6.Rücktritt und Kündigung durch den Educat e.V. </h4>
    <p>
        (1) Die Mindestzahl der Teilnehmer*innen wird vom Educat e.V für in der Ankündigung der Veranstaltung angegeben werden.
        Wird diese Mindestzahl nicht erreicht, kann der Educat e.V vom Vertrag zurücktreten oder geänderte Veranstaltungskonditionen anbieten.
    </p>
    <p>
        (2) Der Educat e.V kann ferner vom Vertrag zurücktreten oder ihn kündigen, wenn eine Veranstaltung aus Gründen, die der Educat e.V nicht
        zu vertreten hat (z. B. Ausfall einer Gastreferent*in) ganz oder teilweise nicht stattfinden kann. In diesem Fall wird das Entgelt
        nach dem Verhältnis der abgewickelten Teileinheiten zum Gesamtumfang der Veranstaltung geschuldet. Das gilt dann nicht,
        wenn die Berechnung der erbrachten Teilleistung für den Vertragspartner unzumutbar wäre, insbesondere wenn die erbrachte Teilleistung
        für den Vertragspartner ohne Wert ist.
    </p>
    <p>
        (3) Der Educat e.V wird den Vertragspartner über die Umstände, die sie nach Maßgabe der vorgenannten Absätze (1) und (2) zum Rücktritt berechtigen,
        unmittelbar informieren und ggf. das vorab entrichtete Entgelt erstatten.
    </p>
    <p>
        (4) Wird das geschuldete Entgelt nach Ziffer 4 nicht entrichtet, kann der Educat e.V unter Androhung des Rücktritts eine Nachfrist zur Bezahlung setzen
        und sodann vom Vertrag zurücktreten.
    </p>
    <p>
        (5) Der Educat e.V kann in den Fällen des § 314 BGB kündigen. Ein wichtiger Grund liegt insbesondere in folgenden Fällen vor:
        <ul>
            <li>
                Gemeinschaftswidriges Verhalten in Veranstaltungen trotz vorangehender Abmahnung und Androhung der Kündigung durch den Dozenten,
                insbesondere Störung des Informations- bzw. Veranstaltungsbetriebes durch Lärm- und Geräuschbelästigungen oder durch querulierendes
                Verhalten
            </li>
            <li>
                Ehrverletzungen aller Art gegenüber Referent*innen, gegenüber Vertragspartnern oder Beschäftigten des Educat e.V.
            </li>
            <li>
                Diskriminierung von Personen wegen persönlicher Eigenschaften (Alter, Geschlecht, Hautfarbe, Volks- oder Religionszugehörigkeit etc.)
            </li>
            <li>
                Missbrauch der Veranstaltungen für parteipolitische oder weltanschauliche Zwecke, für Agitationen aller Art oder für eigene Werbezwecke
            </li>
            <li>
                Beachtliche Verstöße gegen Hausordnungen
            </li>
        </ul>
    </p>
    <p>
        (6) Anstelle einer Kündigung kann der Educat e.V den Vertragspartner*innen auch von einer Veranstaltungseinheit ausschließen.
    </p>
    <p>
        (7) Der Vergütungsanspruch des Educat e.Vs wird durch eine solche Kündigung oder durch einen Ausschluss nicht berührt.
    </p>
<h4>7. Abmeldung von Veranstaltungen</h4>
    <p>
        (1) Abmeldung von Veranstaltungen erfolgen über die Anmeldungsmaske, mithilfe des zugeteilten Anmeldelinks. Für jede Veranstaltung ist eine Abmeldefrist  festgelegt und in der Veranstaltungsbeschreibung sichtbar festgehalten.
        Bei Abmeldungen vor dieser Frist ergeben sich keine weiteren Pflichten für die angemeldet Person und alle personenbezogenen Daten werden automatisch gelöscht. Bei einer Abmeldung innerhalb der Frist vor Veranstaltungsbeginn
        wird eine Stornogebühr in Höhe von 50% der Teilnahmegebühr, mindestens jedoch in Höhe von 10,00 EUR, erhoben.
    </p>
    <p>
        (2) Bei Abmeldungen ab zwei Tage vor der Veranstaltung und am Tag der Veranstaltung oder bei Nichtteilnahme ohne vorherige Abmeldung wird der volle
        Teilnahmebeitrag fällig.
    </p>
    <p>
        (3) Im Ausnahmefall (z. B. bei nachgewiesener Krankheit) kann die angemeldete Person
        <ul>
            <li>
                entweder eine fristgebundene Gutschrift in Höhe der Teilnahmegebühr
            </li>
            <li>
                oder eine Rücküberweisung der Teilnahmegebühr
            </li>
        </ul>
        erhalten.
    </p>
    <p>
        (4) Bei bestimmten Veranstaltungen (z. B. Auslandsreisen, mehrtägigen Veranstaltungen mit Übernachtung oder Veranstaltungen die in Kooperation
        mit Dritten stattfinden) gelten besondere Fristen und Stornoregelungen, über die gesondert informiert wird.
    </p>
<h4>8. Kündigung und Widerruf durch den Vertragspartner </h4>
    <p>
        (1) Weist die Veranstaltung einen Mangel auf, der geeignet ist, das Ziel der Veranstaltung nachhaltig zu beeinträchtigen, hat der*die Vertragspartner*in
        den Educat e.V auf den Mangel hinzuweisen und ihr innerhalb einer zu setzenden angemessenen Nachfrist Gelegenheit zu geben, den Mangel zu beseitigen.
        Geschieht dies nicht, kann der Vertragspartner nach Ablauf der Frist den Vertrag aus wichtigem Grund kündigen.
    </p>
    <p>
        (2) Ein etwaiges gesetzliches Widerrufsrecht (z. B. bei Fernabsatzgeschäften) bleibt unberührt.
    </p>
<h4>9. Schadenersatzansprüche</h4>
    <p>
        (1) Schadenersatzansprüche des Vertragspartners gegen den Educat e.V sind ausgeschlossen, außer bei Vorsatz und grober Fahrlässigkeit.
    </p>
    <p>
        (2) Der Ausschluss gemäß Abs. (1) gilt ferner dann nicht, wenn der Educat e.V schuldhaft Rechte der Vertragspartner*innen verletzt,
        die dieser nach Inhalt und Zweck des Vertrags gerade zu gewähren sind oder deren Erfüllung die ordnungsgemäße Durchführung des Vertrags
        überhaupt erst ermöglichen und auf deren Einhaltung der Vertragspartner regelmäßig vertraut (Kardinalpflichten), ferner nicht bei einer
        schuldhaften Verletzung von Leben, Körper oder Gesundheit.
    </p>
    <p>
        (3) Widerruft der Vertragspartner gemäß Ziff. 8 (2) dieser AGB die Buchung, obwohl die Veranstaltung vereinbarungsgemäß und auf Verlangen
        des Vertragspartners schon begonnen hat, schuldet der Vertragspartner die bis zur Absendung des Widerrufs anteilig entstandene Teilnahmegebühr
        als Schadenersatz.
    </p>
<h4>10. Schlussbestimmungen</h4>
    <p>
        (1) Das Recht, gegen Ansprüche des Educat e.V  aufzurechnen, wird ausgeschlossen, es sei denn, dass der Gegenanspruch gerichtlich festgestellt
        oder vom Educat e.V anerkannt worden ist.
    </p>
    <p>
        (2) Ansprüche gegen den Educat e.V sind nicht abtretbar.
    </p>
    <p>
        (3) Es gelten die Haus- u. Schulraumordnungen am jeweiligen Veranstaltungsort.
    </p>
    <p>
        (4) Das Kopieren sowie die Weitergabe der für Lehrzwecke zur Verfügung gestellten Materialien durch den*die Vertragspartner *in sind unzulässig.
    </p>
    <p>
        (5) Fotografieren, Filmen und Aufnahmen auf Tonträgern in den Lehrveranstaltungen sind grundsätzlich nicht gestattet. Ausnahmegenehmigungen können
        durch die Leitung des Educat e.V erteilt werden.
    </p>
{% endblock %}
