{% extends 'registration/base.html' %}
{% load i18n %}

{% block content %}
<h3 class="head-title">{% translate 'Legal Notice' %}</h3>
<p>
    Educat e.V.<br>
    Malmöer Str. 29<br>
    10439 Berlin<br>
</p>
<p>
    Telefon: 01777705983<br>
    E-Mail: info(at)educat-kollektiv.org<br>
</p>
<p>
    Vorstand: Theo Treihse und Josephine Witt<br>
    Eintragung beim Amtsgericht Berlin unter der Vereinsregisternummer VR 37707 B<br>
    Steuer-Nummer: 27/664/58162<br>
</p>

<h3 class="head-title">{% translate 'Disclaimer' %}</h3>
<p>
    Für Vollständigkeit, Fehler redaktioneller und technischer Art, Auslassungen usw.
    sowie die Richtigkeit der Eintragungen kann keine Haftung übernommen werden.
</p>
<p>
    Insbesondere kann keine Gewähr für die Vollständigkeit und Richtigkeit von Informationen übernommen werden,
    die über weiterführende Links erreicht werden.
</p>
<p>
    Wir möchten ausdrücklich betonen, dass wir keinerlei Einfluss auf die Gestaltung und die Inhalte der gelinkten Seiten haben.
    Deshalb distanzieren wir uns hiermit ausdrücklich von allen Inhalten aller gelinkten Seiten auf dieser Homepage
    und machen uns ihre Inhalte nicht zu Eigen.
</p>
<p>
    Diese Erklärung gilt für alle Seiten dieser Homepage und der dort angebrachten Links.
</p>
{% endblock %}
