{% extends 'registration/base.html' %}
{% load i18n bootstrap4 %}

{% block content %}
<h3 class="head-title">{% translate 'Registration for the event' %}: {{ event.title }}</h3>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <form method="POST" class="post-form">
                {% include 'registration/form_errors.html' with form=form %}

                {% csrf_token %}

                <p>{% bootstrap_field form.participant_name placeholder=False %}</p>
                <p>{% bootstrap_field form.email_address placeholder=False %}</p>

                {% if event.low_fee %}
                    <p>{% bootstrap_field form.participation_fee %}</p>
                {% endif %}

                {% if event.questions %}
                  <p>{% translate 'Please answer the following questions so that we can take your information into account when holding the event: ' %}</p>
                  <p>{{ event.questions|linebreaks|urlize }}</p>
                  <p>{% bootstrap_field form.answer placeholder=False size='small'%}</p>
                {% endif %}

                <p>{% translate 'If there is anything you would like to tell us that you think is important, please write it in this comment box.' %}</p>
                <p>{% bootstrap_field form.comment placeholder=False size='small' %}</p>

                </p>
                <p>{% translate 'Here you can find our ' %}
                    <a href="{% url 'general-terms' %}" target="_blank">
                        {% translate 'General Terms and Conditions' %}
                    </a>
                    {% translate ' and the ' %}
                    <a href="{% url 'data-protection-declaration' %}" target="_blank">
                        {% translate 'Data Protection Declaration' %}.
                    </a>
                </p>

                <button type="submit" class="btn btn-outline-dark">
                    {% translate 'Register' %}
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
