{% extends 'registration/base.html' %}
{% load i18n %}
{% load bootstrap4 %}


{% block content %}
<form method="post">{% csrf_token %}
  <h3 class="head-title">{{ registration.event.title }}</h3>
  <p>{% translate 'Do you want to sign off from this event?' %}</p>
  {% if not registration.event.free_cancellation_period %}
    <p>{% translate 'You are signing off after the end of the free cancellation period. Therefore, we may have to ask you to pay part of the fee. In this case you will soon receive an email with more information from us.' %}</p>
  {% endif %}
  <button type="submit" class="btn btn-outline-dark">
      {% translate 'Sign off' %}
  </button>
</form>
{% endblock %}
