{% extends 'registration/base.html' %}
{% load i18n %}

{% block content %}
    <h3 class="head-title">{% translate 'Signup for waitlist confirmed' %}</h3>
        <p>{% translate 'You have been added to the waitlist and will be notified via email as soon as there is a free seat.' %}</p>
{% endblock %}
