{% extends 'registration/base.html' %}
{% load bootstrap4 i18n %}

{% block content %}
    <h3 class="head-title">{{ event.title }}</h3>
    {% if event.information %}
        <p>{{ event.information|linebreaks|urlize }}</p>
    {% endif %}
    <dl class="row">
        <dt class="col-sm-4">{% translate 'When' %}</dt>
        <dd class="col-sm-8">{{ event.start_date_time }} &ndash; {{ event.end_date_time }}</dd>

        {% if event.place %}
          <dt class="col-sm-4">{% translate 'Where' %}</dt>
          <dd class="col-sm-8">{{ event.place }}</dd>
        {% endif %}

        <dt class="col-sm-4">{% translate 'Signup deadline' %}</dt>
        <dd class="col-sm-8">{{ event.signup_deadline }}</dd>

        <dt class="col-sm-4">{% translate 'Remaining capacity' %}</dt>
        <dd class="col-sm-8">
          {% if event.remaining_capacity >= 0 %}
            {{ event.remaining_capacity }}
          {% else %}
            0
          {% endif %}
          / {{ event.max_participants }}
        </dd>
        {% if event.status == event.WAITLIST %}
          <dt class="col-sm-4">{% translate 'Number of people on the waitlist' %}</dt>
          <dd class="col-sm-8">
            {{ event.waiting }}
          </dd>
        {% endif %}

        {% if event.low_fee %}
          <dt class="col-sm-4">{% translate 'Pricing categories' %}</dt>
          <dd class="col-sm-8">
            {% blocktranslate with low_fee=event.low_fee medium_fee=event.medium_fee high_fee=event.high_fee %}
              Reduced: {{ low_fee }}€ - Break-even: {{ medium_fee }}€ - Supporter: {{ high_fee }}€
            {% endblocktranslate %}
          </dd>
        {% endif %}


    </dl>

    {% if event.status == event.OPEN or event.status == event.WAITLIST %}
        <div class="row">
            <div class="col-xs-12 col-lg-6">
                <form method="POST" class="post-form">
                    {% csrf_token %}
                    <p>
                      <strong>{% translate 'First confirm your email address in order to sign up.' %}</strong>
                    </p>
                    {% if event.status == event.WAITLIST %}
                      <p>{% translate 'You will be notified via email as soon as there will be a free seat.'%}</p>
                    {% endif %}
                    <p>{% bootstrap_field form.participant_name placeholder=False %}</p>
                    <p>{% bootstrap_field form.email_address placeholder=False %}</p>
                    <p>{% translate 'Want to stay up to date? Click here to sign up four our newsletter!' %}

                    {% if view_being_spammed %}
                      <p>{% bootstrap_field form.captcha placeholder=False %}</p>
                    {% endif %}

                    <p>{% bootstrap_field form.newsletter %}</p>
                    <p>
                        {% translate 'Here you can find our ' %}
                        <a href="{% url 'data-protection-declaration' %}" target="_blank">
                            {% translate 'Data Protection Declaration' %}.
                        </a>
                    </p>
                    <button type="submit" class="btn btn-outline-dark">
                      {% translate 'Request signup link' %}
                    </button>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}
