{% extends 'registration/base.html' %}
{% load i18n %}
{% load bootstrap4 %}


{% block content %}
<form method="post">{% csrf_token %}
  <p>{% translate 'Do you want to sign off from the waitlist? All your data will be deleted.' %}</p>
  <button type="submit" class="btn btn-outline-dark">
      {% translate 'Sign off' %}
  </button>
</form>
{% endblock %}
